body {
    background-color: beige;
    font-family: monospace;
}

nav {
    height: 10rem;
    display: flex;
    position: relative;
}

.profile-name {
    color: #4a0404;
    font-size: 15px;
    float: left;
    padding-left: 2rem;
}

.nav-bar {
    /* display: flex; */
    float: right;
    padding: 1rem;
    padding-right: 1cm;
}

.topnav {
    color: #4a0404;
    margin: 10px;
    padding: 0.5rem 1rem;
    font-size: 20px;
}

.topnav:hover {
    color: dark;
    font-weight: bolder;
    text-decoration: underline;
}

article h3 {
    font-size: 25px;
    color: #7C3030;
    padding-left: 5rem;
}

article figure {
    position: absolute;
}

.bio {
    display: flex;
    font-size: 18px;
    float: right;
    padding-left: 25rem;
    color: #7C3030;

}



/* Brown colors =  */